<%- include('partials/_horizontal-navbar'); %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="">
                <div class="row">
                    <section class="forms">
                        <div class="card py-2 mb-4">
                            <div class="cards__heading">
                                <h3>Demande en Mode Reception <span></span></h3>
                            </div>
                            <div class="card-body">
                                <table id="table_id" class="table table-responsive table-hover display">
                                    <thead class="black white-text shadow-lg">
                                        <tr>
                                            <th>Id</th>
                                            <th>Identifiant</th>
                                            <th>Package</th>
                                            <th>Level</th>
                                            <th>Date entry</th>
                                            <th>Date à payer</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% allDemandes.forEach(function(value){ %>
                                            <tr>
                                                <td>
                                                    <%= value.id %>
                                                </td>
                                                <td>
                                                    <%= value.users.name %><br />
                                                        <%= value.users.numberClient %>
                                                </td>

                                                <td>
                                                    <%= value.forfaits.montant %>
                                                </td>
                                                <td>
                                                    <%= value.users.matrixid %>
                                                </td>
                                                <td>
                                                    <script>
                                                        formatDate("<%= value.create_at %>")
                                                    </script>
                                                </td>
                                                <td>
                                                    <script>
                                                        formatDateToPay("<%= value.create_at %>")
                                                    </script>
                                                </td>
                                                <td>
                                                    <% if (value.users.isActive) { %>
                                                        <button type="button" class="btn btn-elegant btn-sm payeDemande" data-ref="<%= value.id %>">Payer maintenant</button>
                                                        <% } %>

                                                            <br>
                                                            <button type="button" class="btn btn-outline-danger btn-sm removeDemande" data-ref="<%= value.id %>">Annuler</button>
                                                            <br>
                                                            <button type="button" class="btn btn-outline-danger btn-sm repousserDemande" data-ref="<%= value.id %>">Repousser</button>
                                                </td>
                                            </tr>
                                            <% }); %>


                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </section>
                    <section class="forms">
                        <div class="card py-2 mb-4">
                            <div class="cards__heading">
                                <h3>Fraude TxHash</h3>
                            </div>
                            <div class="card-body">
                                <table id="table_id4" class="table table-responsive table-hover display">
                                    <thead class="black white-text shadow-lg">
                                        <tr>
                                            <th>Id</th>
                                            <th>Info Fraudeur</th>
                                            <th>Info Victime</th>
                                            <th>Ref</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% allSerialUserForFraude.forEach(function(value){ %>
                                            <tr>
                                                <td>
                                                    <%= value.id %>
                                                </td>
                                                <td>
                                                    <%= value.usersFraude.name %>
                                                        <%= value.usersFraude.firstname %> <br>
                                                            <%= value.usersFraude.pseudo %> <br> <a target="_blank" href="/users/viewAllInfo?id=<%= value.usersFraude.id %>">Voir Info</a></td>
                                                <td>
                                                    <%= value.usersVictime.name %>
                                                        <%= value.usersVictime.firstname %> <br>
                                                            <%= value.usersVictime.pseudo %> <br> <a target="_blank" href="/users/viewAllInfo?id=<%= value.usersVictime.id %>">Voir Info</a></td>
                                                <td>
                                                    <%= value.usersVictime.name %>
                                                        <%= value.usersVictime.firstname %> <br>
                                                            <%= value.usersVictime.pseudo %> <br><a href="https://etherscan.io/tx/<%= value.ref %>" target="_blank">Voir Ref</a></td>
                                                <td>
                                                    <script>
                                                        formatDate("<%= value.create_at %>")
                                                    </script>
                                                </td>
                                                <td>
                                                    <% if (!value.isDone) {%>
                                                        <button class="btn btn-outline-dark btn-sm doneFraude" data-ref="<%= value.id %>" data-idVictime="<%= value.usersVictime.id %>" data-idFraude="<%= value.usersFraude.id %>">Regler Pour Fraude</button>
                                                        <button class="btn btn-outline-info btn-sm doneVictime" data-ref="<%= value.id %>">Regler Pour Victime</button>
                                                        <% } %>
                                                </td>




                                            </tr>

                                            <% }); %>


                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </section>
                    <section class="forms">
                        <div class="card py-2 mb-4">
                            <div class="cards__heading">
                                <h3>Alerte Intrusion <span></span></h3>
                            </div>
                            <div class="card-body">
                                <table id="table_id4" class="table table-responsive table-hover display">
                                    <thead class="black white-text shadow-lg">
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom</th>
                                            <th>Numéro</th>
                                            <th>Date d'arrivée</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% intrusion.forEach(function(value){ %>
                                            <tr>
                                                <td>
                                                    <%= value.id %>
                                                </td>
                                                <td>
                                                    <%= value.name %>
                                                </td>
                                                <td>
                                                    <%= value.numberClient %>
                                                </td>


                                                <td>
                                                    <script>
                                                        formatDate("<%= value.create_at %>")
                                                    </script>
                                                </td>
                                                <td>
                                                    <a target="_blank" href="/users/viewAllInfo?id=<%= value.id %>">Voir Info</a>
                                                </td>
                                            </tr>

                                            <% }); %>


                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </section>
                    <section class="forms">
                        <div class="card py-2 mb-4">
                            <div class="cards__heading">
                                <h3>Nouveaux inscrits <span></span></h3>
                            </div>
                            <div class="card-body">
                                <table id="table_id4" class="table table-responsive table-hover display">
                                    <thead class="black white-text shadow-lg">
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom</th>
                                            <th>Numéro</th>
                                            <th>Montant</th>
                                            <th>Ref</th>
                                            <th>Date entry</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% inscription.forEach(function(value){ %>
                                            <tr>
                                                <td>
                                                    <%= value.id %>
                                                </td>
                                                <td>
                                                    <%= value.name %>
                                                </td>
                                                <td>
                                                    <%= value.prefix %><br>
                                                        <%= value.numberClient %>
                                                </td>
                                                <td>
                                                    <%= value.montants.toFixed(2) %>
                                                </td>
                                                <td>
                                                    <% if (value.ref !== '' && value.ref.length === 66) {%>
                                                        <a href="https://etherscan.io/tx/<%= value.ref %>" target="_blank">Voir Ref</a>
                                                        <% } else if (value.ref !== '' && value.ref.length === 64) { %>
                                                            <a href="https://blockchair.com/bitcoin/transaction/<%= value.ref %>" target="_blank">Voir Ref</a>
                                                            <% } %>
                                                </td>

                                                <td>
                                                    <script>
                                                        formatDate("<%= value.create_at %>")
                                                    </script>
                                                </td>
                                                <td>
                                                    <button class="btn btn-dark btn-sm activate" data-ref="<%= value.id %>">Activer</button>
                                                    <br />
                                                    <button class="btn btn-outline-dark btn-sm deleteUser" data-ref="<%= value.id %>">Supprimer</button>
                                                </td>
                                            </tr>

                                            <% }); %>


                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </section>

                    <section class="forms">
                        <div class="card py-2 mb-4">
                            <div class="cards__heading">
                                <h3>Réabonnement <span></span></h3>
                            </div>
                            <div class="card-body">
                                <table id="table_id4" class="table table-responsive table-hover display">
                                    <thead class="black white-text shadow-lg">
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom</th>
                                            <th>Numéro</th>
                                            <th>Montant</th>
                                            <th>Ref</th>
                                            <th>Date d'arrivée</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% inscriptionFinalForLocker.forEach(function(value){ %>
                                            <tr>
                                                <td>
                                                    <%= value.id %>
                                                </td>
                                                <td>
                                                    <%= value.name %>
                                                </td>
                                                <td>
                                                    <%= value.numberClient %>
                                                </td>
                                                <td>
                                                    <%= value.montant.toFixed(2) %>
                                                </td>
                                                <td>
                                                    <% if (value.ref !== '') {%>
                                                        <a href="https://etherscan.io/tx/<%= value.ref %>" target="_blank">Voir Ref</a>
                                                        <% } %>
                                                </td>

                                                <td>
                                                    <script>
                                                        formatDate("<%= value.create_at %>")
                                                    </script>
                                                </td>
                                                <td>
                                                    <button class="btn btn-dark btn-sm unlocked" data-ref="<%= value.id %>">Activer</button>
                                                </td>
                                            </tr>

                                            <% }); %>


                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </section>

                </div>
            </div>

        </div>
        <!-- main-panel ends -->
    </div>

    <%- include('partials/_footer'); %>
        <script>
            $(document).ready(function() {
                $('[data-toggle="tooltip"]').tooltip();
                $('table').addClass('nowrap').DataTable({
                    responsive: true,
                    columnDefs: [{
                        targets: [-1, -3],
                        className: 'dt-body-right'
                    }],
                    buttons: [
                        'copy', 'excel', 'pdf'
                    ],
                });

                $('body').on('click', '.payeDemande', function(e) {
                    e.preventDefault();
                    // On empêche le navigateur de soumettre le formulaire
                    const ref = $(this).attr('data-ref');
                    const focus = $(this)
                    const url = '/users/payeDemande',
                        type = 'post';
                    $.ajax({
                        url,
                        type,
                        data: {
                            ref
                        },
                        success: function(datas) {
                            if (datas.etat) {
                                $.notify({
                                    position: 3,
                                    type: 'success',
                                    duration: 4000,
                                    message: datas.result
                                });
                                focus.parent().parent().hide(1500)
                            } else {
                                $.notify({
                                    position: 3,
                                    type: 'error',
                                    duration: 4000,
                                    message: datas.error
                                });
                            }
                        }
                    });
                });
                $('body').on('click', '.removeDemande', function(e) {
                    e.preventDefault();
                    // On empêche le navigateur de soumettre le formulaire
                    const ref = $(this).attr('data-ref');
                    const focus = $(this)
                    const url = '/users/removeDemande',
                        type = 'post';
                    $.ajax({
                        url,
                        type,
                        data: {
                            ref
                        },
                        success: function(datas) {
                            if (datas.etat) {
                                $.notify({
                                    position: 3,
                                    type: 'success',
                                    duration: 4000,
                                    message: datas.result
                                });
                                focus.parent().parent().hide(1500)
                            } else {
                                $.notify({
                                    position: 3,
                                    type: 'error',
                                    duration: 4000,
                                    message: datas.error
                                });
                            }
                        }
                    });
                });
                $('body').on('click', '.repousserDemande', function(e) {
                    e.preventDefault();
                    // On empêche le navigateur de soumettre le formulaire
                    const ref = $(this).attr('data-ref');
                    const focus = $(this)
                    const url = '/users/repousserDemande',
                        type = 'post';
                    $.ajax({
                        url,
                        type,
                        data: {
                            ref
                        },
                        success: function(datas) {
                            if (datas.etat) {
                                $.notify({
                                    position: 3,
                                    type: 'success',
                                    duration: 4000,
                                    message: datas.result
                                });
                                focus.parent().parent().hide(1500)
                            } else {
                                $.notify({
                                    position: 3,
                                    type: 'error',
                                    duration: 4000,
                                    message: datas.error
                                });
                            }
                        }
                    });
                });

                $('body').on('click', '.doneFraude', function(e) {
                    e.preventDefault();
                    console.log("ok ok")
                        // On empêche le navigateur de soumettre le formulaire
                    const idSerial = $(this).attr('data-ref');
                    const idVictime = $(this).attr('data-idVictime');
                    const idFraude = $(this).attr('data-idFraude');
                    const focus = $(this)
                    const url = '/users/doneFraude',
                        type = 'post';
                    $.ajax({
                        url,
                        type,
                        data: {
                            idSerial,
                            idVictime,
                            idFraude
                        },
                        success: function(datas) {
                            if (datas.etat) {
                                $.notify({
                                    position: 3,
                                    type: 'success',
                                    duration: 4000,
                                    message: datas.result
                                });
                                focus.parent().parent().hide(1500)
                            } else {
                                $.notify({
                                    position: 3,
                                    type: 'error',
                                    duration: 4000,
                                    message: datas.error
                                });
                            }
                        }
                    });
                });

                $('body').on('click', '.doneVictime', function(e) {
                    e.preventDefault();
                    // On empêche le navigateur de soumettre le formulaire
                    const idSerial = $(this).attr('data-ref');
                    const focus = $(this)
                    const url = '/users/doneVictime',
                        type = 'post';
                    $.ajax({
                        url,
                        type,
                        data: {
                            idSerial
                        },
                        success: function(datas) {
                            if (datas.etat) {
                                $.notify({
                                    position: 3,
                                    type: 'success',
                                    duration: 4000,
                                    message: datas.result
                                });
                                focus.parent().parent().hide(1500)
                            } else {
                                $.notify({
                                    position: 3,
                                    type: 'error',
                                    duration: 4000,
                                    message: datas.error
                                });
                            }
                        }
                    });
                });

                $('body').on('click', '.activate', function(e) {
                    e.preventDefault();
                    // On empêche le navigateur de soumettre le formulaire
                    const ref = $(this).attr('data-ref');
                    const focus = $(this)

                    const url = '/users/activate',
                        type = 'post';
                    $.ajax({
                        url,
                        type,
                        data: {
                            ref
                        },
                        success: function(datas) {
                            if (datas.etat) {
                                $.notify({
                                    position: 3,
                                    type: 'success',
                                    duration: 4000,
                                    message: datas.result
                                });

                                focus.parent().parent().hide(1500)
                            } else {
                                $.notify({
                                    position: 3,
                                    type: 'error',
                                    duration: 4000,
                                    message: datas.error
                                });
                            }
                        }
                    });
                });

                $('body').on('click', '.deleteUser', function(e) {
                    e.preventDefault();
                    // On empêche le navigateur de soumettre le formulaire
                    const ref = $(this).attr('data-ref');
                    const focus = $(this)

                    const url = '/users/deleteUser',
                        type = 'post';
                    $.ajax({
                        url,
                        type,
                        data: {
                            ref
                        },
                        success: function(datas) {
                            if (datas.etat) {
                                $.notify({
                                    position: 3,
                                    type: 'success',
                                    duration: 4000,
                                    message: datas.result
                                });

                                focus.parent().parent().hide(1500)
                            } else {
                                $.notify({
                                    position: 3,
                                    type: 'error',
                                    duration: 4000,
                                    message: datas.error
                                });
                            }
                        }
                    });
                });
                $('body').on('click', '.unlocked', function(e) {
                    e.preventDefault();
                    // On empêche le navigateur de soumettre le formulaire
                    const ref = $(this).attr('data-ref');
                    const focus = $(this)

                    const url = '/users/unlocked',
                        type = 'post';
                    $.ajax({
                        url,
                        type,
                        data: {
                            ref
                        },
                        success: function(datas) {
                            if (datas.etat) {
                                $.notify({
                                    position: 3,
                                    type: 'success',
                                    duration: 4000,
                                    message: datas.result
                                });

                                focus.parent().parent().hide(1500)
                            } else {
                                $.notify({
                                    position: 3,
                                    type: 'error',
                                    duration: 4000,
                                    message: datas.error
                                });
                            }
                        }
                    });
                });
            });
        </script>

        </body>

        </html>