<%- include('partials/_horizontal-navbar'); %>
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-6 grid-margin">
                        <div class="card">
                            <div class="card-body p-2">
                                
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="col-12 pt-3">
                                        <div class="d-md-flex">
                                            <h2 class="card-title mb-0">YOUR BALANCE $<%= user.soldeGain.toFixed(2) %></h2>
                                            <span class='pricing-currency'></span>
                                        </div>
                                        <ol>
                                            <% if (user.soldeGain < 50) { %>
                                                <li class="text-danger">Balance must be over $50</li>
                                                <% } if (!isVerifyWeekend) { %>
                                                    <li class="text-danger">Available at weekends</li>
                                                    <% } if (lastDemande.etat && lastDemande.result.cumulPercentage > lastDemande.result.forfaits.percentageWithdraw) { %>
                                                        <li class="text-danger">this action can be withdrawn if you have won at least <%= user.soldeInvestissement * lastDemande.result.forfaits.percentageWithdraw %> </li>
                                                    <% } if(user.soldeGain >= 50 && isVerifyWeekend && !lastDemande.etat) { %>
                                                        
                                                            <li>
                                                                <div>
                                                                    <form id="loginForm" action="/withdraw" method="post">
                                                                        <h3 class="mr-auto">You can withdraw</h3>
                                                                        <p class="mb-5 mr-auto">All your funds can be withdrawn without hassle.</p>
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text"><i class="icon-wallet"></i></span>
                                                                                </div>
                                                                                <% if(withdrawInAwait) { %>
                                                                                <input type="text" value="<%= withdrawInAwait.addressDestinate %>" class="form-control" disabled>
                                                                                <% } else { %>
                                                                                    <input type="text" name="addressDestinate" class="form-control" placeholder="Your ETH address">
                                                                                <% } %>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text"><i class="fa-solid fa-sack-dollar"></i></span>
                                                                                </div>
                                                                                <% if(withdrawInAwait) { %>
                                                                                    <input type="number" value="<%= withdrawInAwait.amount %>" class="form-control" disabled>
                                                                                    <% } else { %>
                                                                                        <input type="number" name="amount" class="form-control" placeholder="The amount to be withdrawn">
                                                                                    <% } %>
                                                                                
                                                                                
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <% if(withdrawInAwait) { %>
                                                                                <p class="mb-5 mr-auto">🏦 👨🏻‍💼 Withdrawal requests are processed in order of amount and take a maximum of 36 hours. 🏧</p>
                                                                                <% } else { %>
                                                                                    <button type="submit" class="btn btn-primary submit-btn">START REMOVAL</button>
                                                                                <% } %>
                                                                            
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </li>
                                                        
                                                    <% } %>
                                        </ol>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Withdraw</h4>
                                <ul class="list-group list-group-light">
                                    <% allWithdraws.forEach(function(withdraw, index){ %>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="d-flex align-items-center">
                                              <img src="../../Inter/admin/images/money-management-<%= withdraw.etatid === 3 ? '':'in'%>active.png" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
                                              <div class="ms-3">
                                                <p class="fw-bold mb-1">Ref:
                                                    <a href="https://etherscan.io/tx/<%= withdraw.ref %>" target="_blank" rel="noopener noreferrer">
                                                        <script>formatString("<%= withdraw.ref === '' ? 'N/A': withdraw.ref %>")</script>
                                                        
                                                    </a>
                                                </p>
                                                <p class="text-muted mb-0">
                                                    To: <span>
                                                            <a href="https://etherscan.io/address/<%= withdraw.addressDestinate %>" target="_blank" rel="noopener noreferrer">
                                                                <script>formatString("<%= withdraw.addressDestinate %>")</script>
                                                            </a>
                                                        </span>
                                                        <br />
                                                        <span class="badge rounded-pill badge-info">$<%= withdraw.amount %></span>
                                                </p>
                                              </div>
                                            </div>
                                            <div class="trailing">
                                                    <span class="badge rounded-pill <%= withdraw.etatid === 3 ? 'badge-success': 'badge-warning' %> badge-success"> <%= withdraw.etatid === 3 ? 'Received': 'Pending' %></span>
                                                    <span class="text-muted mt-2"><%= withdraw.create_at %></span>
                                            </div>
                                          </li>
                                    <% }); %>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
                


            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <!-- content-wrapper ends -->
    </div>
    </div>
    <%- include('partials/_footer'); %>
        <script>
            (function($) {
                'use strict';
                $(function() {
                    // $.ajax({
                    //     url: 'https://api.etherscan.io/api?module=stats&action=ethprice&apikey=7HQZ18D5IZ7CC313Y31XTY5GPWC53GR6F8',
                    //     type: 'get',
                    //     success: function(data) {
                    //         const dollars = parseFloat(data.result.ethusd);
                    //         const montant = parseFloat(<%= user.soldeGain %>)
                    //         const montantDisplay = 0.9 * montant * dollars;
                    //         $(".priceToGet").text(montantDisplay.toFixed(2))
                    //     }
                    // })
                    if ($('#vertical-left').length) {
                        $('#vertical-left').pwstabs({
                            effect: 'slideleft',
                            defaultTab: 1,
                            containerWidth: '600px',
                            tabsPosition: 'vertical',
                            verticalPosition: 'left'
                        });
                    }

                    $('#forCryptoRetrait').submit(function(e) {
                        e.preventDefault();
                        const addressCrypto = $('#addressCrypto').val();
                        const amount = $('#amount').val();

                        if (parseFloat(amount) <= parseFloat("<%= user.soldeGain%>") && parseFloat(amount) >= 50 && parseFloat(amount) < 2001) {
                            $('#addressCrypto').parent().next().hide();
                            const url = '/users/forCryptoRetrait',
                                type = 'post';
                            $.notify({
                                position: 3,
                                type: 'info',
                                duration: 10000,
                                message: "Please wait a few seconds please our robot checks the contract"
                            });
                            $.ajax({
                                url,
                                type,
                                data: {
                                    addressCrypto,
                                    amount: parseFloat(amount)
                                },
                                success: function(datas) {
                                    if (datas.etat) {
                                        $.notify({
                                            position: 3,
                                            type: 'success',
                                            duration: 4000,
                                            message: datas.result
                                        });
                                    } else {
                                        $.notify({
                                            position: 3,
                                            type: 'error',
                                            duration: 4000,
                                            message: datas.error
                                        });
                                        $('#addressCrypto').parent().next().show();
                                    }
                                }
                            });
                        } else {
                            $.notify({
                                position: 3,
                                type: 'error',
                                duration: 4000,
                                message: 'Amount unvailable. Min 50$, max 2000$'
                            });
                        }
                    });

                    $('#forMoneyRetrait').submit(function(e) {
                        e.preventDefault();
                        const name = $('#name').val();
                        const firstname = $('#firstname').val();
                        const numberClient = $('#numberClient').val();
                        const address = $('#address').val();
                        const numberPiece = $('#numberPiece').val();
                        $('.btn-primary.mr-2').hide();
                        $('.btn-primary.mr-2').next().hide();
                        const url = '/users/forMoneyRetrait',
                            type = 'post';
                        $.ajax({
                            url,
                            type,
                            data: {
                                name,
                                firstname,
                                numberClient,
                                address,
                                numberPiece
                            },
                            success: function(datas) {
                                if (datas.etat) {
                                    $.notify({
                                        position: 3,
                                        type: 'success',
                                        duration: 4000,
                                        message: datas.result
                                    });
                                } else {
                                    $.notify({
                                        position: 3,
                                        type: 'error',
                                        duration: 4000,
                                        message: datas.error
                                    });
                                    $('.btn-primary.mr-2').show();
                                    $('.btn-primary.mr-2').next().show();
                                }
                            }
                        });
                    });

                    $('body').on('click', '.changeLink', function(e) {
                        e.preventDefault();

                        const url = '/users/changeLink',
                            type = 'post';
                        $.ajax({
                            url,
                            type,
                            success: function(datas) {
                                if (datas.etat) {
                                    const link = window.location.origin + "/signup/" + datas.result;
                                    $("#myInput").val(link);
                                    $.notify({
                                        position: 3,
                                        type: 'success',
                                        duration: 4000,
                                        message: "Changed with Success"
                                    });
                                } else {
                                    $.notify({
                                        position: 3,
                                        type: 'error',
                                        duration: 4000,
                                        message: datas.error
                                    });
                                }
                            }
                        });
                    });


                    $('#forWesternRetrait').submit(function(e) {
                        e.preventDefault();
                        const name = $('#nameW').val();
                        const firstname = $('#firstnameW').val();
                        const numberClient = $('#numberClientW').val();
                        const address = $('#addressW').val();
                        const numberPiece = $('#numberPieceW').val();
                        $('.btn-primary.mr-2').hide();
                        $('.btn-primary.mr-2').next().hide();
                        const url = '/users/forWesternRetrait',
                            type = 'post';
                        $.ajax({
                            url,
                            type,
                            data: {
                                name,
                                firstname,
                                numberClient,
                                address,
                                numberPiece
                            },
                            success: function(datas) {
                                if (datas.etat) {
                                    $.notify({
                                        position: 3,
                                        type: 'success',
                                        duration: 4000,
                                        message: datas.result
                                    });
                                } else {
                                    $.notify({
                                        position: 3,
                                        type: 'error',
                                        duration: 4000,
                                        message: datas.error
                                    });
                                    $('.btn-primary.mr-2').show();
                                    $('.btn-primary.mr-2').next().show();
                                }
                            }
                        });
                    });


                });
            })(jQuery);
        </script>
        </body>

        </html>