<%- include('partials/_horizontal-navbar'); %>
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-6 grid-margin">
                        <div class="card">
                            <div class="card-body p-2">
                                
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="col-7 pt-3">
                                        <div class="d-md-flex">
                                            <h4 class="card-title mb-0">YOUR BALANCE</h4>
                                            <span class='pricing-currency'></span>
                                            
                                                <div class="d-flex align-items-center ml-md-2 mt-2 mt-md-0">
                                                    <i class="icon-lock text-muted"></i>
                                                </div>
                                        </div>
                                        <ol>
                                            <% if (user.soldeGain < 50) { %>
                                                <li class="text-danger">Balance must be over $50</li>
                                                <% } if (!isVerifyWeekend) { %>
                                                    <li class="text-danger">Available at weekends</li>
                                                    <% } if (lastDemande.etat && lastDemande.result.cumulPercentage > lastDemande.result.forfaits.percentageWithdraw) { %>
                                                        <li class="text-danger">this action can be withdrawn if you have won at least <%= user.soldeInvestissement * lastDemande.result.forfaits.percentageWithdraw %> </li>
                                                    <% } if(user.soldeGain >= 50 && isVerifyWeekend && !lastDemande.etat) { %>
                                                            <li class="text-success">You can withdraw</li>
                                                    <% } %>
                                        </ol>                                        
                                    </div>
                                    <div class="col-5">
                                        <h2 class="mb-0 text-end">
                                            $<%= user.soldeGain.toFixed(2) %>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Withdraw</h4>
                                
                            </div>
                        </div>
                    </div>
                </div>
                


            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <!-- content-wrapper ends -->
    </div>
    </div>
    <%- include('partials/_footer'); %>
        <script>
            (function($) {
                'use strict';
                $(function() {
                    // $.ajax({
                    //     url: 'https://api.etherscan.io/api?module=stats&action=ethprice&apikey=7HQZ18D5IZ7CC313Y31XTY5GPWC53GR6F8',
                    //     type: 'get',
                    //     success: function(data) {
                    //         const dollars = parseFloat(data.result.ethusd);
                    //         const montant = parseFloat(<%= user.soldeGain %>)
                    //         const montantDisplay = 0.9 * montant * dollars;
                    //         $(".priceToGet").text(montantDisplay.toFixed(2))
                    //     }
                    // })
                    if ($('#vertical-left').length) {
                        $('#vertical-left').pwstabs({
                            effect: 'slideleft',
                            defaultTab: 1,
                            containerWidth: '600px',
                            tabsPosition: 'vertical',
                            verticalPosition: 'left'
                        });
                    }

                    $('#forCryptoRetrait').submit(function(e) {
                        e.preventDefault();
                        const addressCrypto = $('#addressCrypto').val();
                        const amount = $('#amount').val();

                        if (parseFloat(amount) <= parseFloat("<%= user.soldeGain%>") && parseFloat(amount) >= 50 && parseFloat(amount) < 2001) {
                            $('#addressCrypto').parent().next().hide();
                            const url = '/users/forCryptoRetrait',
                                type = 'post';
                            $.notify({
                                position: 3,
                                type: 'info',
                                duration: 10000,
                                message: "Please wait a few seconds please our robot checks the contract"
                            });
                            $.ajax({
                                url,
                                type,
                                data: {
                                    addressCrypto,
                                    amount: parseFloat(amount)
                                },
                                success: function(datas) {
                                    if (datas.etat) {
                                        $.notify({
                                            position: 3,
                                            type: 'success',
                                            duration: 4000,
                                            message: datas.result
                                        });
                                    } else {
                                        $.notify({
                                            position: 3,
                                            type: 'error',
                                            duration: 4000,
                                            message: datas.error
                                        });
                                        $('#addressCrypto').parent().next().show();
                                    }
                                }
                            });
                        } else {
                            $.notify({
                                position: 3,
                                type: 'error',
                                duration: 4000,
                                message: 'Amount unvailable. Min 50$, max 2000$'
                            });
                        }
                    });

                    $('#forMoneyRetrait').submit(function(e) {
                        e.preventDefault();
                        const name = $('#name').val();
                        const firstname = $('#firstname').val();
                        const numberClient = $('#numberClient').val();
                        const address = $('#address').val();
                        const numberPiece = $('#numberPiece').val();
                        $('.btn-primary.mr-2').hide();
                        $('.btn-primary.mr-2').next().hide();
                        const url = '/users/forMoneyRetrait',
                            type = 'post';
                        $.ajax({
                            url,
                            type,
                            data: {
                                name,
                                firstname,
                                numberClient,
                                address,
                                numberPiece
                            },
                            success: function(datas) {
                                if (datas.etat) {
                                    $.notify({
                                        position: 3,
                                        type: 'success',
                                        duration: 4000,
                                        message: datas.result
                                    });
                                } else {
                                    $.notify({
                                        position: 3,
                                        type: 'error',
                                        duration: 4000,
                                        message: datas.error
                                    });
                                    $('.btn-primary.mr-2').show();
                                    $('.btn-primary.mr-2').next().show();
                                }
                            }
                        });
                    });

                    $('body').on('click', '.changeLink', function(e) {
                        e.preventDefault();

                        const url = '/users/changeLink',
                            type = 'post';
                        $.ajax({
                            url,
                            type,
                            success: function(datas) {
                                if (datas.etat) {
                                    const link = window.location.origin + "/signup/" + datas.result;
                                    $("#myInput").val(link);
                                    $.notify({
                                        position: 3,
                                        type: 'success',
                                        duration: 4000,
                                        message: "Changed with Success"
                                    });
                                } else {
                                    $.notify({
                                        position: 3,
                                        type: 'error',
                                        duration: 4000,
                                        message: datas.error
                                    });
                                }
                            }
                        });
                    });


                    $('#forWesternRetrait').submit(function(e) {
                        e.preventDefault();
                        const name = $('#nameW').val();
                        const firstname = $('#firstnameW').val();
                        const numberClient = $('#numberClientW').val();
                        const address = $('#addressW').val();
                        const numberPiece = $('#numberPieceW').val();
                        $('.btn-primary.mr-2').hide();
                        $('.btn-primary.mr-2').next().hide();
                        const url = '/users/forWesternRetrait',
                            type = 'post';
                        $.ajax({
                            url,
                            type,
                            data: {
                                name,
                                firstname,
                                numberClient,
                                address,
                                numberPiece
                            },
                            success: function(datas) {
                                if (datas.etat) {
                                    $.notify({
                                        position: 3,
                                        type: 'success',
                                        duration: 4000,
                                        message: datas.result
                                    });
                                } else {
                                    $.notify({
                                        position: 3,
                                        type: 'error',
                                        duration: 4000,
                                        message: datas.error
                                    });
                                    $('.btn-primary.mr-2').show();
                                    $('.btn-primary.mr-2').next().show();
                                }
                            }
                        });
                    });


                });
            })(jQuery);
        </script>
        </body>

        </html>