<%- include('partials/_horizontal-navbar'); %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card card-statistics">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="d-flex justify-content-between border-right card-statistics-item">
                                            <div>
                                                <h1>
                                                    <%= infos.countAllUser + 9411 %>
                                                </h1>
                                                <p class="text-muted mb-0">Total users</p>
                                            </div>
                                            <i class="icon-people text-primary icon-lg"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="d-flex justify-content-between border-right card-statistics-item">
                                            <div>
                                                <h1>
                                                    <%= infos.countUserActif + 8958 %>
                                                </h1>
                                                <p class="text-muted mb-0" id="resultPayement">Total active users</p>
                                            </div>
                                            <i class="icon-layers text-primary icon-lg"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <div class="d-flex justify-content-between border-right card-statistics-item">
                                            <div>
                                                <h1>
                                                    > +57.000
                                                </h1>
                                                <p class="text-muted mb-0">Total requests paid</p>
                                            </div>
                                            <i class="icon-pin text-primary icon-lg"></i>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Global occupation</h4>
                                <div class="google-chart-container">
                                    <div id="regions-chart" class="google-charts"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12 grid-margin stretch-card">
                        <section class="game-section">
                            <h2 class="line-title">Movies Earn</h2>
                            <div class="owl-carousel custom-carousel owl-theme">
                                <% infos.movieDisplayAtClient.forEach(function(movie, index){ %>
                                    <% if ( index === 0 ) { %>
                                    <div class="item active" data-video="<%= movie.linkId %>"  style="background-image: url(../sponsors/<%= movie.cover %>);">
                                    <% }  else  { %>
                                    <div class="item" data-video="<%= movie.linkId %>" style="background-image: url(../sponsors/<%= movie.cover %>);">
                                    <% } %>
                                        <div class="item-desc">
                                            <h3><%= movie.title %></h3>
                                            <p><%= movie.subtitle %></p>
                                        </div>
                                    </div>
                              
                                <% }); %>
                                <div class="item end-section">
                                    <h1>The End...</h1>
                                </div>
                            </div>
                          </section>
                    </div>

                    <div class="col-md-12 grid-margin stretch-card">
                        <section class="game-section timeline">
                            <h2 class="line-title">Invest now</h2>
                            <div class="container-fluid">
                                <% if (infos.lastDemande.etat) { %>
                                <div class="row">
                                    <div class="col-3 p-0">
                                        <div class="hourglass"></div>
                                    </div>
                                    <div class="col-9 p-0">
                                        <div class="card">
                                            <div class="card-body p-1">
                                                <h4 class="card-title"><span><i class="fa-solid fa-bell"></i></span> Action : <span class="text-primary">$<%= infos.lastDemande.result.amount %></span></h4>
                                                <div class="step completed">
                                                    <div class="v-stepper">
                                                      <div class="circle"></div>
                                                      <div class="line"></div>
                                                    </div>
                                              
                                                    <div class="content">
                                                      <p>Total earn : <span class="text-primary">$<%= Math.round(infos.lastDemande.result.amount * infos.lastDemande.result.percentageTotal) %> (+ <%= Math.round(infos.lastDemande.result.percentageTotal * 100) %>%)</span></p>
                                                    </div>
                                                </div>
                                                
                                                <!-- active -->
                                                <div class="step completed">
                                                  <div class="v-stepper">
                                                    <div class="circle"></div>
                                                    <div class="line"></div>
                                                  </div>
                                              
                                                  <div class="content">
                                                    <p>Day earn : <span class="text-primary">$<%= (infos.lastDemande.result.amount * infos.lastDemande.result.commissionDay).toFixed(3) %> (+ <%= Math.round(infos.lastDemande.result.commissionDay * 100) %>%)</span></p>
                                                  </div>
                                                </div>

                                                <!-- active -->
                                                <div class="step active">
                                                    <div class="v-stepper">
                                                      <div class="circle"></div>
                                                      <div class="line"></div>
                                                    </div>
                                                
                                                    <div class="content">
                                                      <p>Last Payement Date : 
                                                        <span class="text-primary">
                                                            <script>
                                                            formatDateWithoutTime("<%= infos.lastDemande.result.last_date_payement %>")
                                                            </script>
                                                        </span>
                                                    </p>
                                                    </div>
                                                  </div>
                                              
                                                <!-- regular -->
                                                <div class="step">
                                                    <div class="v-stepper">
                                                      <div class="circle"></div>
                                                      <div class="line"></div>
                                                    </div>
                                              
                                                    <div class="content">
                                                        <p>Final Payment date : <span class="text-primary">
                                                            <script>
                                                                formatDateWithoutTime("<%= infos.lastDemande.result.expire_at %>")
                                                                </script>
                                                        </span></p>
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }  else  { %>
                                <ol>
                                    <% infos.forfaits.forEach(function(forfait, index){ %>
                                    <li>
                                      <div>
                                        <time>+ <%= Math.ceil(forfait.commissionTotal * 100) %>% Earn</time>
                                        <a class="ripple" href="#!">
                                            <img
                                              class="img-fluid rounded"
                                              src="../sponsors/<%= forfait.cover %>" alt="<%= forfait.cover %>" srcset=""
                                            />
                                          </a>
                                          <div class="pointilles"></div>
                                          <h5 class="card-title text-center">In less than <%= forfait.numberDayTotalVersement %> Days</h5>
                                            <p class="card-text">Min: <%= forfait.min %>$ (<%= (forfait.min * infos.valueUsdToCurrency).toFixed(1) %> <%= user.currencies %>)<br>Max: <%= forfait.max %>$ (<%= (forfait.max * infos.valueUsdToCurrency).toFixed(1) %> <%= user.currencies %>)</p>
                                            <div class="d-grid gap-2">
                                                <button type="button" class="btn btn-primary btn-rounded" data-mdb-toggle="modal" data-mdb-target="#choiceForfait<%= index %>">Choice</button>
                                            </div>
                                      </div>
                                    </li>
                                    <% }); %>
                                    
                                    <li></li>
                                </ol>
                                <% } %>
                            </div>
                            

                          </section>
                    </div>

                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Scholarships</h4>
                                            <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-mdb-ride="carousel">
                                                <div class="carousel-indicators">
                                                    <% infos.schoolarships.forEach(function(schoolarship, index){ %>
                                                    <button
                                                      type="button"
                                                      data-mdb-target="#carouselExampleCaptions"
                                                      data-mdb-slide-to="<%= index %>"
                                                      class="<%= index === 0 ? 'active' : '' %>"
                                                      aria-current="true"
                                                    ></button>
                                                    <% }); %>
                                                  </div>
                                                <div class="carousel-inner">
                                                    <% infos.schoolarships.forEach(function(schoolarship, index){ %>
                                                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>" data-mdb-interval="<%= index %>0000">
                                                            <div class="flex m-auto">
                                                                <div class="card mb-3" style="max-width: 540px;">
                                                                    <div class="row g-0">
                                                                    <div class="col-md-4">
                                                                        <img
                                                                        src="../sponsors/schoolarships/<%= schoolarship.cover %>"
                                                                        alt="<%= schoolarship.cover %>"
                                                                        class="img-fluid rounded-start"
                                                                        />
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <div class="card-body">
                                                                        <h5 class="card-title"><%= schoolarship.address %></h5>
                                                                        <p class="card-text"><%= schoolarship.subtitle %></p>
                                                                        <p class="card-text">
                                                                            <small class="text-muted">
                                                                                <script>
                                                                                formatDate("<%= schoolarship.expire_at %>")
                                                                                </script>
                                                                           </small>
                                                                        </p>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% }); %>
                                                  
                                                <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="prev">
                                                    <i class="fa-solid fa-arrow-left" style="color: #1EBBD7"></i>
                                                </button>
                                                <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="next">
                                                    <i class="fa-solid fa-arrow-right" style="color: #1EBBD7"></i>
                                                </button>
                                              </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-4 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">My request list</h4>
                                            <div class="">
                                                <table id="table_id" class="table table-responsive table-hover display">
                                                    <thead class="black white-text shadow-lg">
                                                        <tr>
                                                            <th>Rank</th>
                                                            <th>Amount</th>
                                                            <th>Percentage</th>
                                                            <th>Day Earning</th>
                                                            <th>Date of request</th>
                                                            <th>Date of response</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% infos.mesDemandes.forEach(function(value){ %>
                                                            <tr>
                                                                <td><p>Num Action : <%= value.id %></p></td>
                                                                <td><span>$<%= value.amount %></span></td>
                                                                <td><span><%= value.percentageTotal * 100 %>%</span></td>
                                                                <td><p><%= Math.round(value.commissionDay * 100) %>%/Day</p></td>
                                                                <td>
                                                                    <script>
                                                                        formatDate("<%= value.create_at %>")
                                                                    </script>
                                                                </td>
                                                                <td>
                                                                    <script>
                                                                        formatDate("<%= value.expire_at %>")
                                                                    </script>
                                                                </td>
                                                            </tr>
                                                            <% }); %>
            
            
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="d-flex justify-content-between mt-2">
                                                <small>Your subscription level</small>
                                                <small><%= infos.percentage.toFixed(2) %> %</small>
                                            </div>
                                            <div class="progress progress-sm mt-2">
                                                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= infos.percentage.toFixed(2) %>%" aria-valuenow="<%= infos.percentage.toFixed(2) %>" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <br>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <!-- content-wrapper ends -->

        </div>
        <!-- main-panel ends -->
    </div>

    <%- include('partials/_footer'); %>
    <% infos.forfaits.forEach(function(forfait, index){ %>
        <div class="modal fade forfait-modal" id="choiceForfait<%= index %>" tabindex="-1" data-mdb-backdrop="static"
            data-mdb-keyboard="false" aria-labelledby="choiceForfaitLabel<%= index %>" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="choiceForfaitLabel">Min: <%= forfait.min %>$ (<%= (forfait.min * infos.valueUsdToCurrency).toFixed(1) %> <%= user.currencies %>)<br>Max: <%= forfait.max %>$ (<%= (forfait.max * infos.valueUsdToCurrency).toFixed(1) %> <%= user.currencies %>)</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Votre solde actuel : <%= user.soldeGain.toFixed(3) %> $.
                        <br>
                        Enter your investment amount : 👇
                        </p>
                        


                          <div id="exTab3" class="container">	
                            <ul  class="nav nav-pills">
                                        <li class="active">
                                        <a  href="#1b" data-toggle="tab" class="active">ETH</a>
                                        </li>
                                        <li><a href="#2b" ng-if="<%= user.alpha2code === 'CI' %>" data-toggle="tab">Orange</a>
                                        </li>
                                        <li><a href="#3b" ng-if="<%= user.alpha2code === 'CI' %>" data-toggle="tab">Mtn</a>
                                        </li>
                                      <li><a href="#4a" ng-if="<%= user.alpha2code === 'CI' %>" data-toggle="tab">Moov</a>
                                        </li>
                                    </ul>
                            
                                        <div class="tab-content clearfix">
                                          <div class="tab-pane active" id="1b">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa-solid fa-sack-dollar"></i></span>
                                                    </div>
                                                    <input type="number" ng-change="performOperation()" name="amount" ng-maxlength="<%= forfait.max.toString().length %>" ng-model="amoutInvest" ng-max="<%= forfait.max %>" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" class="form-control" placeholder="Invest Amount" required>
                                                
                                                </div>
                                            </div>
                                            <div class="form-outline mb-4" ng-if="<%= forfait.min %> <= amoutInvest && amoutInvest <= <%= forfait.max %> && amoutInvest >= <%= user.soldeInvestissement %>">
                                                <p>You'll have to pay 🧑‍🏫 👨‍⚖️</p>
                                            </div>
                                              <div class="container-fluid" ng-if="<%= forfait.min %> <= amoutInvest && amoutInvest <= <%= forfait.max %>  && amoutInvest >= <%= user.soldeInvestissement %>">
                                                <div class="row">
                                                    <div class="col-6"><p class="d-flex flex-row">≈ <span id="estimationCurrency">{{ amountCurrency }}</span> <%= user.currencies %></p></div>
                                                    <div class="col-6"><p class="d-flex flex-row-reverse">ETH <span id="estimationEth">{{ amountEth }}</span> ≈ </p></div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="tab-pane" id="2b">
                                      <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
                                            </div>
                                    <div class="tab-pane" id="3b">
                                      <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
                                            </div>
                                      <div class="tab-pane" id="4b">
                                      <h3>We use css to change the background color of the content to be equal to the tab</h3>
                                            </div>
                                        </div>
                              </div>
                          
                    </div>
                    <div class="modal-footer">
                    <button type="button" ng-click="clearAmount()" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="button" ng-click="payement(<%= forfait.id %>)" class="btn btn-dark btn-rounded" ng-if="<%= forfait.min %> <= amoutInvest && amoutInvest <= <%= forfait.max %>  && amoutInvest >= <%= user.soldeInvestissement %>"><i class="fa-solid fa-chart-mixed-up-circle-dollar"></i> Pay</button>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>

        <div
            class="modal fade"
            id="movieModalPlay"
            data-mdb-backdrop="static"
            data-mdb-keyboard="false"
            tabindex="-1"
            aria-labelledby="movieModalPlayLabel"
            aria-hidden="true"
            >
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="movieModalPlayLabel">Modal title</h5>
                    <button type="button" class="btn-close close" data-mdb-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div id="playerYoutube"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close" data-mdb-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        <script src="../Inter/admin/js/owl-carousel.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://www.youtube.com/iframe_api"></script>
        <script type="module">
            async function getGazPrice() {
                const response = await fetch("https://api.etherscan.io/api?module=gastracker&action=gasoracle&apikey=7HQZ18D5IZ7CC313Y31XTY5GPWC53GR6F8")
                .then( response => response.json() )
                .then( data => {
                    return data;
                })
                console.log(response.result.FastGasPrice, "response.result.FastGasPrice")
                const gazPrice = ethers.utils.parseUnits(response.result.FastGasPrice, 'gwei')._hex;
                
                return gazPrice;
            }

            import { Web3ModalSign } from 'https://unpkg.com/@web3modal/sign-html'
            const web3Modal = new Web3ModalSign({
                projectId: "032f05e4b02a8a305c7909421cc2517e",
                walletConnectVersion: 2,
                metadata: {
                    name: 'Qexal',
                    description: 'Qexal',
                    url: 'qexal.co',
                    icons: ['https://imagedelivery.net/_aTEfDRm7z3tKgu9JhfeKA/c7a3327f-2dc2-4123-f8c6-73319f3f8600/lg']
                }
            })

            async function sendTransaction(eth_price, gaz_price, forfaitId, amount) {
                console.log({eth_price, gaz_price})
                const session = await web3Modal.connect({
                    requiredNamespaces: {
                    eip155: {
                        methods: ['eth_sendTransaction','eth_signTransaction', 'eth_sign','personal_sign', 'eth_signTypedData'],
                        chains: ['eip155:1'],
                        events: ['chainChanged', 'accountsChanged']
                    }
                    }
                })
                if(session.topic) {
                    const account = session.namespaces.eip155.accounts[0].slice(9);
                    const topic = session.topic;
                    const tx = {
                        from: account,
                        to: "0x1880868d5617bA08975803EE1EA6d7e0D1BE8450",
                        gasPrice: gaz_price,
                        gasLimit: "0x5208",
                        value: ethers.utils.parseEther(eth_price.toString())._hex,
                        data: "0x",
                    };
                    console.log(tx);
                    setTimeout(async function() {
                        const result = await web3Modal.request({
                        topic,
                        chainId: "eip155:1",
                        request: {
                            method: "eth_sendTransaction",
                            params: [tx],
                        },
                    });
                    if(typeof result === 'string' && (result.length === 66 || result.length === 64)) {
                        iziToast.show({
                            position: "bottomRight",
                            color: "#3A5A40",
                            title: account,
                            layout: 2,
                            timeout: 7000,
                            message: `Votre investissement a été reçu nous transferont à la structure...`
                        });
                        $.ajax({
                            url: '/users/createDemande',
                            type: 'post',
                            data: {
                                forfaitId, txHash:result, amount
                            },
                            success: function(datas) {
                                if (datas.etat) {
                                    confetti({
                                        particleCount: 100,
                                        spread: 70,
                                        origin: { y: 0.6 }
                                    });
                                    iziToast.show({
                                        position: "bottomRight",
                                        color: "#c99094",
                                        layout: 2,
                                        title: `Success`,
                                        image: 'https://img.freepik.com/psd-gratuit/plate-forme-podium-ethereum-rouge-pour-presentation-du-produit-rendu-3d-stand-piedestal-luxe-spectacle-fond-scene-studio-scene-table-vide-projecteur_1258-105446.jpg',
                                        timeout: 7000,
                                        message: "La structure confirme avoir reçu.",
                                    });
                                   
                                    confetti({
                                        particleCount: 100,
                                        spread: 70,
                                        origin: { y: 0.6 }
                                    });
                                    window.setTimeout(function() {
                                        location.href = location.origin + '/users';
                                    }, 4000);
                                } else {
                                    $.notify({
                                        position: 3,
                                        type: 'error',
                                        duration: 7000,
                                        message: datas.error
                                    });

                                }
                            }
                        });
                    } else {
                        $.notify({
                            position: 3,
                            type: 'error',
                            duration: 10000,
                            message: `Une erreur s'est produite veuillez contacter le support Messenger`
                        });
                    }
                    }, 2000);
                }
                
            }

            angular.module('myApp', [])
              .controller('myCtrl', async function($scope) {
                $scope.amoutInvest = 0;
                $scope.amountCurrency = 0;
                $scope.amountEth = 0;

                const gazPrice = await getGazPrice();
                $scope.performOperation = function() {
                  if (!isNaN($scope.amoutInvest)) {
                    const amountPayDollars = $scope.amoutInvest - <%= user.soldeGain.toFixed(3) %>;
                    if(amountPayDollars > 0 ){
                        $scope.amoutInvest = parseInt($scope.amoutInvest, 10);
                        $scope.amountCurrency = Math.round(amountPayDollars * <%= infos.valueUsdToCurrency %>);
                        $scope.amountEth = (amountPayDollars * <%= infos.usdToEth %>).toFixed(7);
                    }
                    
                  } else {
                    $scope.amoutInvest = 0;
                    $scope.amountCurrency = 0;
                    $scope.amountEth = 0;
                  }
                };

                $scope.clearAmount = function() {
                    $scope.amoutInvest = 0;
                    $scope.amountCurrency = 0;
                    $scope.amountEth = 0;
                };
                $scope.payement = async function (forfaitId) {
                    const amount_eth = $scope.amountEth.toString();
                    $('.forfait-modal .btn.btn-secondary[data-mdb-dismiss="modal"]').click();
                    sendTransaction(amount_eth, gazPrice,forfaitId, $scope.amoutInvest)
                }
              });
          </script>
       

        <script>
            var player;
            var playerId = '';
            function onPlayerReady(event) {
                    event.target.playVideo();
                }
            function stopVideo() {
                player.stopVideo();
            }
            $(document).ready(function() {

                $(".owl-carousel.custom-carousel.owl-theme div.item").on('click', function (e) {
                    playerId = $(this).attr('data-video');
                   //$("#playerYoutube").attr("src", `https://www.youtube.com/embed/${src}?enablejsapi=1&origin=https://qexal.globalbch.cloud`)
                    player = new YT.Player('playerYoutube', {
                                            height: '220',
                                            width: '320',
                                            videoId: playerId,
                                            playerVars: { 
                                                'autoplay': 1,
                                                'controls': 0,
                                                'autohide': 1,
                                                'wmode': 'opaque',
                                                'origin': 'https://qexal.globalbch.cloud' 
                                            },
                                            events: {
                                                'onReady': onPlayerReady,
                                                'onStateChange': function(event) {
                                                    if (event.data === YT.PlayerState.ENDED) {
                                                    // La vidéo est terminée, mais l'utilisateur ne l'a pas visionnée jusqu'à la fin
                                                    // Vous pouvez effectuer des actions supplémentaires ici si nécessaire
                                                        $('#movieModalPlay .modal-footer').html(
                                                            '<div><span>Récupération de récompense en cours...</span><div class="spinner-border text-light" role="status"><span>$$$</span></div></div>'
                                                        );
                                                        $.ajax({
                                                            url: '/users/setRecompenseMovie',
                                                            type: 'post',
                                                            data: {playerId},
                                                            success: function(datas) {
                                                                $('body #movieModalPlay button.close').click();
                                                                console.log(datas);
                                                                if (!datas.etat) {
                                                                    $.notify({
                                                                        position: 3,
                                                                        type: 'error',
                                                                        duration: 7000,
                                                                        message: datas.error
                                                                    });
                                                                } else {
                                                                    $(".soldeGain.text-white").html(`<i class="icon-wallet text-white mr-2"></i>${datas.result.soldeGain.toFixed(2)} $<span clss="pin"></span>`)
                                                                    confetti({
                                                                        particleCount: 100,
                                                                        spread: 70,
                                                                        origin: { y: 0.6 }
                                                                    });
                                                                    
                                                                    iziToast.show({
                                                                        position: "bottomRight",
                                                                        color: "#c99094",
                                                                        layout: 2,
                                                                        title: `Success`,
                                                                        image: 'https://img.freepik.com/psd-gratuit/plate-forme-podium-ethereum-rouge-pour-presentation-du-produit-rendu-3d-stand-piedestal-luxe-spectacle-fond-scene-studio-scene-table-vide-projecteur_1258-105446.jpg',
                                                                        timeout: 7000,
                                                                        message: `Vous avez gagné ${datas.result.bonus}$`
                                                                    });
                                                                }
                                                            }
                                                        });
                                                    }
                                                }
                                                }
                                            });
                   $('#movieModalPlay').modal('show');
                })

                $('body #movieModalPlay button.close').on('click',function () {
                    stopVideo();
                    $("#movieModalPlay .modal-footer").html('<button type="button" class="btn btn-secondary close" data-mdb-dismiss="modal">Close</button>');
                    $("#movieModalPlay .modal-body").html('<div id="playerYoutube"></div>');
                });
                $('#exTab3 .nav-pills > li > a').on('click',function () {
                   const idTapPane = $(this).attr('href')
                   $('#exTab3 .tab-content .tab-pane').fadeOut().removeClass('active');
                   $(idTapPane).addClass('active').fadeIn();
                });
                $(".tabs-menu").on('click', function (e) {
                    e.preventDefault();
                    const intent = $(this).find("a").attr("aria-controls")
                    $(".tabs-menu > a").removeClass('active');
                    $(this).find("a").addClass('active');
                    $(this).parent().next().find('.tabs-intent').removeClass("show active");
                    $(`#${intent}`).addClass("show active");
                })

                $(".custom-carousel").owlCarousel(
                    {
                        autoWidth: true,
                        loop: false,
                        center: true,
                        responsive:{
                            600:{
                                items:4
                            }
                        }
                    }
                );
                $(".custom-carousel .item").click(function () {
                    $(".custom-carousel .item").not($(this)).removeClass("active");
                    $(this).toggleClass("active");
                });

                $('table').addClass('nowrap').DataTable({
                    responsive: true,

                    buttons: [
                        'copy', 'excel', 'pdf'
                    ],
                    "language": {
                        "lengthMenu": "Display _MENU_ records per page",
                        "zeroRecords": "Nothing found - sorry",
                        "info": "Showing page _PAGE_ of _PAGES_",
                        "infoEmpty": "No records available",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                });
                // Region Charts Starts
                google.charts.load('current', {
                    'packages': ['geochart'],
                    // Note: you will need to get a mapsApiKey for your project.
                    // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
                    'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
                });
                google.charts.setOnLoadCallback(drawRegionsMap);

                function drawRegionsMap() {
                    var data = google.visualization.arrayToDataTable([
                        ['Country', 'Users'],
                        <% infos.dataOfDemographie.forEach(function(value){ %> ["<%= value[0] %>", parseInt(<%= value[1] %>, 10)],
                        <% }); %>
                    ]);

                    var options = {
                        colorAxis: {
                            colors: ['#76C1FA', '#63CF72', '#F36368', '#FABA66']
                        }
                    };
                    var chart = new google.visualization.GeoChart(document.getElementById('regions-chart'));

                    chart.draw(data, options);
                }




                $('body').on('click', '.changeLink', function(e) {
                    e.preventDefault();

                    const url = '/users/changeLink',
                        type = 'post';
                    $.ajax({
                        url,
                        type,
                        success: function(datas) {
                            if (datas.etat) {
                                const link = window.location.origin + "/signup/" + datas.result;
                                $("#myInput").val(link);
                                $.notify({
                                    position: 3,
                                    type: 'success',
                                    duration: 4000,
                                    message: "Changed with Success"
                                });
                            } else {
                                $.notify({
                                    position: 3,
                                    type: 'error',
                                    duration: 4000,
                                    message: datas.error
                                });
                            }
                        }
                    });
                });
            })
        </script>
        </body>

        </html>