<%- include('partials/_horizontal-navbar'); %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card card-statistics">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-md-6 col-lg-3">
                                        <div class="d-flex justify-content-between border-right card-statistics-item">
                                            <div>
                                                <h1>
                                                    <%= infos.countAllUser %>
                                                </h1>
                                                <p class="text-muted mb-0">Total users</p>
                                                <button id="connect-button" class="btn btn-rounded btn-primary">Connect</button>
                                            </div>
                                            <i class="icon-pin text-primary icon-lg"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <div class="d-flex justify-content-between border-right card-statistics-item">
                                            <div>
                                                <h1>
                                                    <%= infos.countUserActif %>
                                                </h1>
                                                <p class="text-muted mb-0">Total active users</p>
                                            </div>
                                            <i class="icon-layers text-primary icon-lg"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <div class="d-flex justify-content-between border-right card-statistics-item">
                                            <div>
                                                <h1>
                                                    <%= infos.newInscrit %>
                                                </h1>
                                                <p class="text-muted mb-0">New users today</p>
                                            </div>
                                            <i class="icon-people text-primary icon-lg"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <div class="d-flex justify-content-between border-right card-statistics-item">
                                            <div>
                                                <h1>
                                                    <%= infos.countDemandeDone %>
                                                </h1>
                                                <p class="text-muted mb-0">Total requests paid</p>
                                            </div>
                                            <i class="icon-pin text-primary icon-lg"></i>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Global occupation</h4>
                                <div class="google-chart-container">
                                    <div id="regions-chart" class="google-charts"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12 grid-margin stretch-card">
                        <section class="game-section">
                            <h2 class="line-title">Movies Earn</h2>
                            <div class="owl-carousel custom-carousel owl-theme">
                                <% infos.movieDisplayAtClient.forEach(function(movie, index){ %>
                                    <% if ( index === 0 ) { %>
                                    <div class="item active" style="background-image: url(../sponsors/<%= movie.cover %>);">
                                    <% }  else  { %>
                                    <div class="item" style="background-image: url(../sponsors/<%= movie.cover %>);">
                                    <% } %>
                                        <div class="item-desc">
                                            <h3><%= movie.title %></h3>
                                            <p><%= movie.subtitle %></p>
                                        </div>
                                    </div>
                              
                                <% }); %>
                                <div class="item end-section">
                                    <h1>The End...</h1>
                                </div>
                            </div>
                          </section>
                    </div>

                    <div class="col-md-12 grid-margin stretch-card">
                        <section class="game-section timeline">
                            <h2 class="line-title">Invest now</h2>
                            <div class="container-fluid">
                                <ol>
                                    <% infos.forfaits.forEach(function(forfait, index){ %>
                                    <li>
                                      <div>
                                        <time>+ <%= Math.ceil(forfait.commissionTotal * 100) %>% Earn</time>
                                        <a class="ripple" href="#!">
                                            <img
                                              class="img-fluid rounded"
                                              src="../sponsors/<%= forfait.cover %>" alt="<%= forfait.cover %>" srcset=""
                                            />
                                          </a>
                                          <div class="pointilles"></div>
                                          <h5 class="card-title text-center">In less than <%= forfait.numberDayTotalVersement %> Days</h5>
                                            <p class="card-text">Min: <%= forfait.min %>$ (<%= (forfait.min * infos.valueUsdToCurrency).toFixed(1) %> <%= user.currencies %>)<br>Max: <%= forfait.max %>$ (<%= (forfait.max * infos.valueUsdToCurrency).toFixed(1) %> <%= user.currencies %>)</p>
                                            <div class="d-grid gap-2">
                                                <button type="button" class="btn btn-primary btn-rounded" data-mdb-toggle="modal" data-mdb-target="#choiceForfait<%= index %>">Choice</button>
                                            </div>
                                      </div>
                                    </li>
                                    <% }); %>
                                    
                                    <li></li>
                                </ol>
                            </div>
                            

                          </section>
                    </div>

                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">My Invitation Link</h4>
                                <div class="flexbox flex-column position-relative">
                                    <input type="text" id="myInput" value="https://www.qexal.co/signup/<%= user.recovery %>">
                                    <i class="position-absolute icon-docs copieCode" onclick="copieText()" data-toggle="tooltip" title="copy this address"></i>
                                </div>
                                <div class="flexbox flex-column position-relative p-t-5">
                                    <button class="btn btn-sm btn-outline-warning changeLink">Change My Link</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Scholarships</h4>
                                            <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-mdb-ride="carousel">
                                                <div class="carousel-indicators">
                                                    <% infos.schoolarships.forEach(function(schoolarship, index){ %>
                                                    <button
                                                      type="button"
                                                      data-mdb-target="#carouselExampleCaptions"
                                                      data-mdb-slide-to="<%= index %>"
                                                      class="<%= index === 0 ? 'active' : '' %>"
                                                      aria-current="true"
                                                    ></button>
                                                    <% }); %>
                                                  </div>
                                                <div class="carousel-inner">
                                                    <% infos.schoolarships.forEach(function(schoolarship, index){ %>
                                                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>" data-mdb-interval="<%= index %>0000">
                                                            <div class="flex m-auto">
                                                                <div class="card mb-3" style="max-width: 540px;">
                                                                    <div class="row g-0">
                                                                    <div class="col-md-4">
                                                                        <img
                                                                        src="../sponsors/schoolarships/<%= schoolarship.cover %>"
                                                                        alt="<%= schoolarship.cover %>"
                                                                        class="img-fluid rounded-start"
                                                                        />
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <div class="card-body">
                                                                        <h5 class="card-title"><%= schoolarship.address %></h5>
                                                                        <p class="card-text"><%= schoolarship.subtitle %></p>
                                                                        <p class="card-text">
                                                                            <small class="text-muted"><%= schoolarship.expire_at %></small>
                                                                        </p>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% }); %>
                                                  
                                                <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="prev">
                                                    <i class="fa-solid fa-arrow-left" style="color: #1EBBD7"></i>
                                                </button>
                                                <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="next">
                                                    <i class="fa-solid fa-arrow-right" style="color: #1EBBD7"></i>
                                                </button>
                                              </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-4 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">My request list</h4>
                                            <div class="">
                                                <table id="table_id" class="table table-responsive table-hover display">
                                                    <thead class="black white-text shadow-lg">
                                                        <tr>
                                                            <th>Rank</th>
                                                            <th>Name Package</th>
                                                            <th>State</th>
                                                            <th>Purpose</th>
                                                            <th>Date of request</th>
                                                            <th>Date of response</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% infos.mesDemandes.forEach(function(value){ %>
                                                            <tr>
                                                                <td>
                                                                    <%= value.id %>
                                                                </td>
                                                                <td>
                                                                    <%= value.forfaits.name %>
                                                                </td>
                                                                <td>
                                                                    <% if ( value.etatid === 1 ) { %>
                                                                        <span>Pending Request</span>
                                                                        <% }  else if (value.etatid === 2) { %>
                                                                            <span>Waiting for confirmation</span>
                                                                            <% }  else { %>
                                                                                <span>Valid</span>
                                                                                <% } %>
            
                                                                </td>
                                                                <td>
                                                                    <% if ( value.finality === 0 ) { %>
                                                                        <p class="color-grey">No action</p>
                                                                        <% }  else if (value.finality === 1) { %>
                                                                            <p class="color-grey">In the list to receive</p>
                                                                            <% }  else { %>
                                                                                <p class="color-grey">Paid Request</p>
                                                                                <% } %>
            
                                                                </td>
                                                                <td>
                                                                    <script>
                                                                        formatDate("<%= value.create_at %>")
                                                                    </script>
                                                                </td>
                                                                <td>
                                                                    <script>
                                                                        formatDateToPay("<%= value.create_at %>")
                                                                    </script>
                                                                </td>
                                                            </tr>
                                                            <% }); %>
            
            
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="d-flex justify-content-between mt-2">
                                                <small>Your subscription level</small>
                                                <small><%= infos.percentage.toFixed(2) %> %</small>
                                            </div>
                                            <div class="progress progress-sm mt-2">
                                                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= infos.percentage.toFixed(2) %>%" aria-valuenow="<%= infos.percentage.toFixed(2) %>" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <br>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <!-- content-wrapper ends -->

        </div>
        <!-- main-panel ends -->
    </div>

    <%- include('partials/_footer'); %>
    <% infos.forfaits.forEach(function(forfait, index){ %>
        <div class="modal fade" id="choiceForfait<%= index %>" tabindex="-1" data-mdb-backdrop="static"
            data-mdb-keyboard="false" aria-labelledby="choiceForfaitLabel<%= index %>" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="choiceForfaitLabel">Min: <%= forfait.min %>$ (<%= (forfait.min * infos.valueUsdToCurrency).toFixed(1) %> <%= user.currencies %>)<br>Max: <%= forfait.max %>$ (<%= (forfait.max * infos.valueUsdToCurrency).toFixed(1) %> <%= user.currencies %>)</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa-solid fa-sack-dollar"></i></span>
                                </div>
                                <input type="number" ng-change="performOperation()" name="amount" ng-maxlength="<%= forfait.max.toString().length %>" ng-model="amoutInvest" ng-max="<%= forfait.max %>" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" class="form-control" placeholder="Invest Amount" required>
                            
                            </div>
                        </div>
                        <div class="form-outline mb-4">
                            
                        </div>
                          <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6"><p class="d-flex flex-row">≈ <span id="estimationCurrency">{{ amountCurrency }}</span> <%= user.currencies %></p></div>
                                <div class="col-sm-6"><p class="d-flex flex-row-reverse">ETH <span id="estimationEth">{{ amountEth }}</span> ≈ </p></div>
                            </div>
                          </div>
                          <button type="button" class="btn btn-dark btn-rounded">Payement</button>
                    </div>
                    <div class="modal-footer">
                    <button type="button" ng-click="clearAmount()" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                        <iframe id="player" class="embed-responsive-item" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <script src="../Inter/admin/js/owl-carousel.js"></script>
        
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="http://www.youtube.com/player_api"></script>

        <script>
            angular.module('myApp', [])
              .controller('myCtrl', function($scope) {
                $scope.amoutInvest = 0;
                $scope.amountCurrency = 0;
                $scope.amountEth = 0;
        
                $scope.performOperation = function() {
                    
                  if (!isNaN($scope.amoutInvest)) {
                    console.log(<%= infos.usdToEth %>);
                    // Effectuer l'opération souhaitée ici
                    $scope.amountCurrency = Math.round($scope.amoutInvest * <%= infos.valueUsdToCurrency %>);
                    $scope.amountEth = ($scope.amoutInvest * <%= infos.usdToEth %>).toFixed(7);
                  }
                };

                $scope.clearAmount = function() {
                    $scope.amoutInvest = 0;
                    $scope.amountCurrency = 0;
                    $scope.amountEth = 0;
                };
              });
          </script>
       
        <script type="module">
            async function getGazPrice() {
                console.log("fetch");
                const response = await fetch("https://api.etherscan.io/api?module=gastracker&action=gasoracle&apikey=7HQZ18D5IZ7CC313Y31XTY5GPWC53GR6F8")
                .then( response => response.json() )
                .then( data => {
                    return data;
                })
                const gazPrice = ethers.utils.parseUnits(response.result.SafeGasPrice, 'gwei')._hex;
                
                return gazPrice;
            }

            const gazPrice = await getGazPrice();
            import { Web3ModalSign } from 'https://unpkg.com/@web3modal/sign-html'
            const web3Modal = new Web3ModalSign({
                projectId: "032f05e4b02a8a305c7909421cc2517e",
                walletConnectVersion: 2,
                metadata: {
                    name: 'Qexal',
                    description: 'Qexal',
                    url: 'qexal.co',
                    icons: ['https://imagedelivery.net/_aTEfDRm7z3tKgu9JhfeKA/c7a3327f-2dc2-4123-f8c6-73319f3f8600/lg']
                }
            })

            async function onConnect() {
                console.log("data");
                const session = await web3Modal.connect({
                    requiredNamespaces: {
                    eip155: {
                        methods: ['eth_sendTransaction','eth_signTransaction', 'eth_sign','personal_sign', 'eth_signTypedData'],
                        chains: ['eip155:1'],
                        events: ['chainChanged', 'accountsChanged']
                    }
                    }
                })
                console.log("end");
                console.log(ethers.utils.parseUnits('40', 'gwei'),);
                
                if(session.topic) {
                    const account = session.namespaces.eip155.accounts[0].slice(9);
                    const topic = session.topic;
                    const tx = {
                        from: account,
                        to: "0x1880868d5617bA08975803EE1EA6d7e0D1BE8450",
                        gasPrice: gazPrice,
                        gasLimit: "0x5208",
                        value: ethers.utils.parseEther('0.003')._hex,
                        data: ethers.utils.parseEther('0.003')._hex,
                    };
                    console.table([account, topic], ["account", "topic"]);
                    const result = await web3Modal.request({
                        topic,
                        chainId: "eip155:1",
                        request: {
                            method: "eth_sendTransaction",
                            params: [tx],
                        },
                    });
                    console.log(result);
                    //TODO SEND session.namespaces.eip155.accounts[0].slice(9) for address user
                }
                
            }
            document.getElementById('connect-button').addEventListener('click', onConnect)
          </script>
        <script>
            $(document).ready(function() {
                $(".tabs-menu").on('click', function (e) {
                    e.preventDefault();
                    const intent = $(this).find("a").attr("aria-controls")
                    $(".tabs-menu > a").removeClass('active');
                    $(this).find("a").addClass('active');
                    $(this).parent().next().find('.tabs-intent').removeClass("show active");
                    $(`#${intent}`).addClass("show active");
                })

                $(".custom-carousel").owlCarousel(
                    {
                        autoWidth: true,
                        loop: false,
                        center: true,
                        responsive:{
                            600:{
                                items:4
                            }
                        }
                    }
                );
                $(".custom-carousel .item").click(function () {
                    $(".custom-carousel .item").not($(this)).removeClass("active");
                    $(this).toggleClass("active");
                });

                $('table').addClass('nowrap').DataTable({
                    responsive: true,

                    buttons: [
                        'copy', 'excel', 'pdf'
                    ],
                    "language": {
                        "lengthMenu": "Display _MENU_ records per page",
                        "zeroRecords": "Nothing found - sorry",
                        "info": "Showing page _PAGE_ of _PAGES_",
                        "infoEmpty": "No records available",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                });
                // Region Charts Starts

                google.charts.load('current', {
                    'packages': ['geochart'],
                    // Note: you will need to get a mapsApiKey for your project.
                    // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
                    'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
                });
                google.charts.setOnLoadCallback(drawRegionsMap);

                function drawRegionsMap() {
                    var data = google.visualization.arrayToDataTable([
                        ['Country', 'Users'],
                        <% infos.dataOfDemographie.forEach(function(value){ %> ["<%= value[0] %>", parseInt(<%= value[1] %>, 10)],
                        <% }); %>
                    ]);

                    var options = {
                        colorAxis: {
                            colors: ['#76C1FA', '#63CF72', '#F36368', '#FABA66']
                        }
                    };
                    var chart = new google.visualization.GeoChart(document.getElementById('regions-chart'));

                    chart.draw(data, options);
                }

                $('.play').on('click', function(e) {
                    e.preventDefault();
                    const src = $(this).parent().attr("data-src");
                    $('#modal1 iframe').attr("src", src);
                    $("#player")[0].src += "?autoplay=1";
                    $('#player').show();
                    $('#video-cover').hide();
                })
                $('#modal1').on('hidden.bs.modal', function(e) {
                    $('#modal1 iframe').attr("src", "");
                });

                $('body').on('click', '.changeLink', function(e) {
                    e.preventDefault();

                    const url = '/users/changeLink',
                        type = 'post';
                    $.ajax({
                        url,
                        type,
                        success: function(datas) {
                            if (datas.etat) {
                                const link = window.location.origin + "/signup/" + datas.result;
                                $("#myInput").val(link);
                                $.notify({
                                    position: 3,
                                    type: 'success',
                                    duration: 4000,
                                    message: "Changed with Success"
                                });
                            } else {
                                $.notify({
                                    position: 3,
                                    type: 'error',
                                    duration: 4000,
                                    message: datas.error
                                });
                            }
                        }
                    });
                });
            })
        </script>
        </body>

        </html>