<%- include('partials/_horizontal-navbar'); %>
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-3 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Investissement</h4>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-inline-block pt-3">
                                        <div class="d-md-flex">
                                            <span class='pricing-currency'>$</span>
                                            <h2 class="mb-0">
                                                <%= users.soldeInvestissement %>
                                            </h2>
                                            <% if (!users.isActive) { %>
                                                <div class="d-flex align-items-center ml-md-2 mt-2 mt-md-0">
                                                    <i class="icon-lock text-muted"></i>
                                                    <small class=" ml-1 mb-0"><script>formatDate("<%= users.updated_at %>")</script></small>
                                                </div>
                                                <% } %>
                                        </div>
                                        <% if (!users.isActive && users.inscription === 3) { %>
                                            <small class="text-gray">il doit envoyer une personne dans le système pour être debloquer afin de continuer</small>
                                            <% } %>
                                    </div>
                                    <div class="d-inline-block">
                                        <div class="bg-success px-4 py-2 rounded">
                                            <i class="icon-layers text-white icon-lg"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Gain</h4>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-inline-block pt-3">
                                        <div class="d-md-flex">
                                            <span class='pricing-currency'>$</span>
                                            <h2 class="mb-0">
                                                <%= users.soldeGain %>
                                            </h2>

                                        </div>

                                    </div>
                                    <div class="d-inline-block">
                                        <div class="bg-warning px-4 py-2 rounded">
                                            <i class="icon-wallet text-white icon-lg"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Cummul RSI</h4>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-inline-block pt-3">
                                        <div class="d-md-flex">
                                            <span class='pricing-currency'>$</span>
                                            <h2 class="mb-0">
                                                <%= infos.soldeCumul %>
                                            </h2>

                                        </div>

                                    </div>
                                    <div class="d-inline-block">
                                        <div class="bg-success px-4 py-2 rounded">
                                            <i class="icon-cloud-download text-white icon-lg"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Cummul Windraw</h4>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-inline-block pt-3">
                                        <div class="d-md-flex">
                                            <span class='pricing-currency'>$</span>
                                            <h2 class="mb-0">
                                                <%= infos.retraitCumul %>
                                            </h2>

                                        </div>

                                    </div>
                                    <div class="d-inline-block">
                                        <div class="bg-warning px-4 py-2 rounded">
                                            <i class="icon-cloud-upload text-white icon-lg"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Estimation</h4>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <h5>
                                            <%= users.soldeGain%> $</h5>
                                        <h4 class="card-title">List Retrait</h4>
                                        <div class="">
                                            <table id="table_id" class="table table-responsive table-hover display">
                                                <thead class="black white-text shadow-lg">
                                                    <tr>
                                                        <th>Rang</th>
                                                        <th>Etat</th>
                                                        <th>montant</th>
                                                        <th>Address</th>
                                                        <th>ref</th>
                                                        <th>Date </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% infos.allRetraitInfo.forEach(function(value){ %>
                                                        <tr>
                                                            <td>
                                                                <%= value.id %>
                                                            </td>
                                                            <td>
                                                                <% if ( value.etatid === 1 ) { %>
                                                                    <span>Payement en Attente</span>
                                                                    <% }  else if (value.etatid === 3) { %>
                                                                        <span>Payement Terminé</span>
                                                                        <% } %>

                                                            </td>
                                                            <td>
                                                                <%= value.monatnt %>
                                                            </td>
                                                            <td><button class='btn btn-sm btn-outline-primary' data-toggle="modal" data-target="#basicExampleModal<%= value.id %>">Voir</button></td>
                                                            <td>
                                                                <% if (value.ref !== '' && value.ref.length === 66) {%>
                                                                    <a href="https://etherscan.io/tx/<%= value.ref %>" target="_blank">Voir Ref</a>
                                                                    <% } else if (value.ref !== '' && value.ref.length === 64) { %>
                                                                        <a href="https://blockchair.com/bitcoin/transaction/<%= value.ref %>" target="_blank">Voir Ref</a>
                                                                        <% } else { %>
                                                                            <a href="https://etherscan.io/tx/<%= value.ref %>" target="_blank">Voir Ref</a>
                                                                            <% } %>
                                                            </td>
                                                            <td>
                                                                <script>
                                                                    formatDate("<%= value.updated_at %>")
                                                                </script>
                                                            </td>
                                                        </tr>
                                                        <div class="modal fade" id="basicExampleModal<%= value.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                                            <%= value.addressDestinate %>
                                                                        </h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																	</button>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% }); %>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin">


                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <img src="https://cdn-icons-png.flaticon.com/512/560/560216.png" class="img-flag rounded-circle mb-2" alt="profile image" />
                                    <div class="ml-3">
                                        <h4>
                                            <%= users.name %>
                                                <%= users.firstname %>
                                        </h4>
                                        <p class="text-muted mb-0">Devise:
                                            <%= users.currencies %>
                                        </p>
                                    </div>
                                </div>
                                <p class="mt-4 card-text">
                                    By
                                    <% if (inWait.isCryptoWallet) { %>
                                        Crypto Monnaie. <br> Address Crypto:
                                        <%= users.addressCrypto %>
                                            <br> Montant Net à
                                            <input type="text" id="valueForCrypto" disabled value="<%= inWait.monatnt %>" />
                                            <% } else if (inWait.isMoneyGram) { %>
                                                Money Gram.<br> Address:
                                                <%= users.address %>
                                                    <br> Montant Net à
                                                    <input type="text" id="priceToGet" disabled readonly value="<%= users.soldeGain %>" />
                                                    <% } else if (inWait.isWesternUnion) { %>
                                                        Western Union. <br> Address:
                                                        <%= users.address %>
                                                            <br> Montant Net à
                                                            <input type="text" id="priceToGet" disabled readonly value="<%= users.soldeGain %>" />
                                                            <% } %>
                                </p>
                                <div>
                                    <% if (inWait.ref === "") { %>
                                        <input id="idtraitement" type="hidden" disabled readonly value="<%= inWait.id %>" />
                                        <input id="ref" type="text" placeholder="Enter code of transaction" required />
                                        <button type="button" class="btn btn-outline-success btn-sm videCompte" data-ref="<%= users.id %>">Vider le compte</button>
                                        <% } else { %>
                                            <input type="text" disabled readonly value="<%= inWait.ref %>" />
                                            <% } %>
                                </div>

                                <br>
                                <h4 class="card-title">My request list</h4>
                                <div class="">
                                    <table id="table_id" class="table table-responsive table-hover display">
                                        <thead class="black white-text shadow-lg">
                                            <tr>
                                                <th>Rank</th>
                                                <th>Name Package</th>
                                                <th>State</th>
                                                <th>Purpose</th>
                                                <th>Date of request</th>
                                                <th>Date of response</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% infos.mesDemandes.forEach(function(value){ %>
                                                <tr>
                                                    <td>
                                                        <%= value.id %>
                                                    </td>
                                                    <td>
                                                        <%= value.forfaits.name %>
                                                    </td>
                                                    <td>
                                                        <% if ( value.etatid === 1 ) { %>
                                                            <span>Pending Request</span>
                                                            <% }  else if (value.etatid === 2) { %>
                                                                <span>Waiting for confirmation</span>
                                                                <% }  else { %>
                                                                    <span>Valid</span>
                                                                    <% } %>

                                                    </td>
                                                    <td>
                                                        <% if ( value.finality === 0 ) { %>
                                                            <p class="color-grey">No action</p>
                                                            <% }  else if (value.finality === 1) { %>
                                                                <p class="color-grey">In the list to receive</p>
                                                                <% }  else { %>
                                                                    <p class="color-grey">Paid Request</p>
                                                                    <% } %>

                                                    </td>
                                                    <td>
                                                        <script>
                                                            formatDate("<%= value.create_at %>")
                                                        </script>
                                                    </td>
                                                    <td>
                                                        <script>
                                                            formatDateToPay("<%= value.create_at %>")
                                                        </script>
                                                    </td>
                                                </tr>
                                                <% }); %>


                                        </tbody>
                                    </table>
                                </div>
                                <div class="border-top pt-3">
                                    <div class="row">
                                        <div class="col-4 pt-2">
                                            <h6>
                                                <%= users.name %>
                                            </h6>
                                            <p>Name</p>
                                        </div>
                                        <div class="col-4 pt-2">
                                            <h6>
                                                <%= users.firstname %>
                                            </h6>
                                            <p>Firstname</p>
                                        </div>
                                        <div class="col-4 pt-2">
                                            <h6>
                                                <%= users.email %>
                                            </h6>
                                            <p>Email</p>
                                        </div>
                                        <div class="col-4 pt-2">
                                            <h6>
                                                <%= users.prefix %>
                                                    <%= users.numberClient %>
                                            </h6>
                                            <p>Number</p>
                                        </div>
                                        <div class="col-4 pt-2">
                                            <h6>
                                                <%= users.numberPiece %>
                                            </h6>
                                            <p>number Piece</p>
                                        </div>
                                        <div class="col-4 pt-2">
                                            <h6>
                                                <%= users.isEligibleForNextWeek === 1 ? 'Oui': 'Non' %>
                                            </h6>
                                            <p>isEligibleForNextWeek</p>
                                        </div>
                                        <div class="col-3 pt-2">
                                            <h6>
                                                <%= users.recovery %>
                                            </h6>
                                            <p>Lien</p>
                                        </div>
                                        <div class="col-9 pt-2">
                                            <h6>
                                                <%= users.addressCrypto %>
                                            </h6>
                                            <p>Adresse Crypto</p>
                                        </div>
                                        <div class="col-12 pt-2">
                                            <div class="flexbox flex-column position-relative">
                                                <p>
                                                    <a href="https://etherscan.io/tx/<%= users.ref %>" target="_blank">
                                                        <%= users.ref %>
                                                    </a>
                                                </p>
                                            </div>
                                            <p>TxHash</p>
                                        </div>
                                        <div class="col-4 pt-2">
                                            <h6>
                                                <%= users.filleulForMatrix === 1 ? 'Oui': 'Non' %>
                                            </h6>
                                            <p>filleulForMatrix</p>
                                        </div>
                                        <div class="col-4 pt-2">
                                            <h6>
                                                <script>
                                                    formatDate("<%= users.endContratTime %>")
                                                </script>
                                            </h6>
                                            <p>End Contrat And Count New</p>
                                        </div>
                                        <div class="col-4 pt-2">
                                            <h6>
                                                <script>
                                                    formatDate("<%= users.dateMatrixCount %>")
                                                </script>
                                            </h6>
                                            <p>DateMatrixCount</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6 grid-margin">


                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title">Exchange list</h4>
                                <div class="">
                                    <table class="table table-responsive table-hover display">
                                        <thead class="black white-text shadow-lg">
                                            <tr>
                                                <th>Id</th>
                                                <th>Nom</th>
                                                <th>Ref</th>
                                                <th>Crypto</th>
                                                <th>Usd In</th>
                                                <th>Usd Out</th>
                                                <th>Account</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% infos.allExchangeInfo.forEach(function(value){ %>
                                                <tr>
                                                    <td>
                                                        <%= value.id %>
                                                            <br>
                                                            <% if (value.typeAccount === 2){ %>
                                                                <span class="badge badge-dark">Other</span>
                                                                <% } else { %>
                                                                    <span class="badge badge-success">Trova</span>
                                                                    <% } %>

                                                    </td>
                                                    <td>
                                                        <%= value.users.name %><br />
                                                            <%= value.users.firstname %>
                                                    </td>
                                                    <td>
                                                        <% if (value.ref.indexOf('0x') != -1){ %>
                                                            <a href="https://etherscan.io/tx/<%= value.ref %>" target="_blank">
                                                                <%= value.ref.substring(0, 10) %>
                                                            </a>
                                                            <% } else { %>
                                                                <%= value.ref %>
                                                                    <% } %>

                                                    </td>
                                                    <td>
                                                        <%= value.montant_eth.toFixed(2) %>
                                                            <%= value.currencies.name %>
                                                    </td>
                                                    <td>
                                                        <%= value.montant_usd_payement.toFixed(2) %>
                                                            <br>
                                                            <%= value.montantCurrencie %>
                                                                <%= value.currencie %>
                                                    </td>
                                                    <td>
                                                        <%= value.montant_usd %>
                                                    </td>
                                                    <td>
                                                        <% if ( value.type === 0 ) { %>
                                                            <span>PAYPAL</span>
                                                            <% }  else if (value.type === 1) { %>
                                                                <span>Orange Money</span>
                                                                <% }  else if (value.type === 2) { %>
                                                                    <span>Mtn Money</span>
                                                                    <% }  else if (value.type === 3) { %>
                                                                        <span>Moov Money</span>
                                                                        <% }  else if (value.type === 4) { %>
                                                                            <span>Perfect Money</span>
                                                                            <% }  else if (value.type === 5) { %>
                                                                                <span>Wave</span>
                                                                                <% } %>

                                                    </td>

                                                </tr>
                                                <% }); %>


                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>

                    </div>

                    <div class="col-md-6 grid-margin">


                        <div class="card">
                            <div class="card-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <h3>Validations d'inscriptions </h3>
                                        <div class="">
                                            <table id="table_id4" class="table table-responsive table-hover display">
                                                <thead class="black white-text shadow-lg">
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Ref</th>
                                                        <th>montant</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% infos.allSignatureInfo.forEach(function(value){ %>
                                                        <tr>
                                                            <td>
                                                                <%= value.id %>
                                                            </td>
                                                            <td><a href="https://etherscan.io/tx/<%= value.ref %>" target="_blank">Voir Ref</a></td>
                                                            <td>
                                                                <%= value.montant %>
                                                            </td>

                                                            <td>
                                                                <script>
                                                                    formatDate("<%= value.create_at %>")
                                                                </script>
                                                            </td>

                                                        </tr>
                                                        <% }); %>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12 grid-margin">


                        <div class="card">
                            <div class="card-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <% infos.filleul.forEach(function(value){ %>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="d-flex flex-row">
                                                            <img src="https://cdn-icons-png.flaticon.com/512/560/560216.png" class="img-lg rounded" alt="profile image" />
                                                            <div class="ml-3">
                                                                <h6>
                                                                    <%= value.name %>
                                                                        <%= value.firstname %>
                                                                </h6>
                                                                <p class="text-muted">
                                                                    <%= value.email %><br>
                                                                        <%= value.prefix %>
                                                                            <%= value.numberClient %>
                                                                </p>
                                                                <p class="mt-2">
                                                                    <% if (!value.isActive && value.inscription === 3 ) { %>
                                                                        <small class="badge badge-danger badge-pill">Blocked looking for a godchild</small>
                                                                        <% } else if (!value.isActive && value.inscription !== 3) { %>
                                                                            <small class="badge badge-warning badge-pill">Blocked for re-subscription</small>
                                                                            <% } else if (value.isActive && value.inscription === 1) { %>
                                                                                <script>
                                                                                    formatDate("<%= value.validEntryInSysteme %>")
                                                                                </script> <br>
                                                                                <small class="badge badge-success badge-pill">Active Account</small>
                                                                                <% } else { %>
                                                                                    <small class="badge badge-info badge-pill">Registrations not completed</small>
                                                                                    <% } %>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <!-- content-wrapper ends -->
    </div>
    </div>
    <%- include('partials/_footer'); %>
        <script>
            (function($) {
                'use strict';
                $(function() {
                    $('table').addClass('nowrap').DataTable({
                        responsive: true,
                        buttons: [
                            'copy', 'excel', 'pdf'
                        ],
                    });
                    $('body').on('click', '.videCompte', function(e) {
                        e.preventDefault();
                        const id = $(this).attr('data-ref');
                        const ref = $("#ref").val();
                        const idtraitement = $("#idtraitement").val();
                        <% if (inWait.isCryptoWallet) { %>
                        const montant = $("#valueForCrypto").val();
                        <% } else { %>
                        const montant = $("#priceToGet").val();
                        <% } %>
                        const focus = $(this);
                        focus.hide()

                        const url = '/users/videCompte',
                            type = 'post';
                        $.ajax({
                            url,
                            type,
                            data: {
                                id,
                                ref,
                                idtraitement,
                                montant
                            },
                            success: function(datas) {
                                if (datas.etat) {
                                    $.notify({
                                        position: 3,
                                        type: 'success',
                                        duration: 4000,
                                        message: datas.result
                                    });

                                } else {
                                    focus.show()
                                    $.notify({
                                        position: 3,
                                        type: 'error',
                                        duration: 4000,
                                        message: datas.error
                                    });
                                }
                            }
                        });
                    });
                    if ($('#vertical-left').length) {
                        $('#vertical-left').pwstabs({
                            effect: 'slideleft',
                            defaultTab: 1,
                            containerWidth: '600px',
                            tabsPosition: 'vertical',
                            verticalPosition: 'left'
                        });
                    }

                });
            })(jQuery);
        </script>
        </body>

        </html>