<%- include('partials/_horizontal-navbar'); %>
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-3 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Solde Investissement</h4>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-inline-block pt-3">
                                        <div class="d-md-flex">
                                            <span class='pricing-currency'>$</span>
                                            <h2 class="mb-0">
                                                <%= users.soldeInvestissement %>
                                            </h2>
                                            <% if (!users.isActive) { %>
                                                <div class="d-flex align-items-center ml-md-2 mt-2 mt-md-0">
                                                    <i class="icon-lock text-muted"></i>
                                                    <small class=" ml-1 mb-0"><script>formatDate("<%= users.updated_at %>")</script></small>
                                                </div>
                                                <% } %>
                                        </div>
                                        <% if (users.isActive) { %>
                                            <small class="text-gray"> <%= users.inscription %> videos regardé</small>
                                            <% } %>
                                    </div>
                                    <div class="d-inline-block">
                                        <div class="bg-success px-4 py-2 rounded">
                                            <i class="icon-layers text-white icon-lg"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Solde Gain</h4>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-inline-block pt-3">
                                        <div class="d-md-flex">
                                            <span class='pricing-currency'>$</span>
                                            <h2 class="mb-0">
                                                <%= users.soldeGain %>
                                            </h2>

                                        </div>

                                    </div>
                                    <div class="d-inline-block">
                                        <div class="bg-warning px-4 py-2 rounded">
                                            <i class="icon-wallet text-white icon-lg"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Cummul Gagné</h4>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-inline-block pt-3">
                                        <div class="d-md-flex">
                                            <span class='pricing-currency'>$</span>
                                            <h2 class="mb-0">
                                                <%= infos.soldeCumul %>
                                            </h2>

                                        </div>

                                    </div>
                                    <div class="d-inline-block">
                                        <div class="bg-success px-4 py-2 rounded">
                                            <i class="icon-cloud-download text-white icon-lg"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Cummul Retiré</h4>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-inline-block pt-3">
                                        <div class="d-md-flex">
                                            <span class='pricing-currency'>$</span>
                                            <h2 class="mb-0">
                                                <%= infos.retraitCumul %>
                                            </h2>

                                        </div>

                                    </div>
                                    <div class="d-inline-block">
                                        <div class="bg-warning px-4 py-2 rounded">
                                            <i class="icon-cloud-upload text-white icon-lg"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Estimation</h4>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <h5>
                                            <%= users.soldeGain%> $</h5>
                                        <h4 class="card-title">List Retrait</h4>
                                        <div class="">
                                            <table id="table_id" class="table table-responsive table-hover display">
                                                <thead class="black white-text shadow-lg">
                                                    <tr>
                                                        <th>Rang</th>
                                                        <th>Etat</th>
                                                        <th>montant</th>
                                                        <th>Address</th>
                                                        <th>ref</th>
                                                        <th>Date </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% infos.allRetraitInfo.forEach(function(value){ %>
                                                        <tr>
                                                            <td>
                                                                <%= value.id %>
                                                            </td>
                                                            <td>
                                                                <% if ( value.etatid === 1 ) { %>
                                                                    <span class="badge badge-warning" >Payement en Attente</span>
                                                                    <% }  else if (value.etatid === 3) { %>
                                                                        <span class="badge badge-success">Payement Terminé</span>
                                                                        <% } %>

                                                            </td>
                                                            <td>
                                                                <%= value.amount %>
                                                            </td>
                                                            <td><button class='btn btn-sm btn-outline-primary' data-toggle="modal" data-target="#basicExampleModal<%= value.id %>">Voir</button></td>
                                                            <td>
                                                                <% if (value.ref !== '' && value.ref.length === 66) {%>
                                                                    <a href="https://etherscan.io/tx/<%= value.ref %>" target="_blank">Voir Ref</a>
                                                                    <% } else if (value.ref !== '' && value.ref.length === 64) { %>
                                                                        <a href="https://blockchair.com/bitcoin/transaction/<%= value.ref %>" target="_blank">Voir Ref</a>
                                                                        <% } else { %>
                                                                            <a href="https://etherscan.io/tx/<%= value.ref %>" target="_blank">Voir Ref</a>
                                                                            <% } %>
                                                            </td>
                                                            <td>
                                                                <script>
                                                                    formatDate("<%= value.updated_at %>")
                                                                </script>
                                                            </td>
                                                        </tr>
                                                        <div class="modal fade" id="basicExampleModal<%= value.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                                            <%= value.addressDestinate %>
                                                                        </h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																	</button>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% }); %>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin">


                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <img src="https://cdn-icons-png.flaticon.com/512/560/560216.png" class="img-flag rounded-circle mb-2" alt="profile image" />
                                    <div class="ml-3">
                                        <h4>
                                            <%= users.country %>
                                        </h4>
                                        <p class="text-muted mb-0">Devise:
                                            <%= users.currencies %>
                                        </p>
                                    </div>
                                </div>
                                <% if (inWait) { %>
                                <p class="mt-4 card-text"> Address Crypto Withdraw : <%= inWait.addressDestinate %> <br> Montant Net à
                                </p>
                                 <input type="text" id="valueForCrypto" disabled value="<%= inWait.amount %>" />
                                <div>
                                    <% if (inWait.ref === "" && inWait.etatid !== 3 ) { %>
                                        <input id="idtraitement" type="hidden" disabled readonly value="<%= inWait.id %>" />
                                        <input id="ref" type="text" placeholder="Enter code of transaction" required />
                                        <button type="button" class="btn btn-outline-success btn-sm videCompte" data-ref="<%= inWait.userid %>">Vider le compte</button>
                                        <% } else { %>
                                            <input type="text" disabled readonly value="<%= inWait.ref %>" />
                                            <% } %>
                                </div>
                                <% } %>

                                <br>
                                <h4 class="card-title">My request list</h4>
                                <div class="">
                                    <table id="table_id" class="table table-responsive table-hover display">
                                        <thead class="black white-text shadow-lg">
                                            <tr>
                                                <th>Rank</th>
                                                <th>Info Package</th>
                                                <th>State</th>
                                                <th>Date of request</th>
                                                <th>Date of response</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% infos.mesDemandes.forEach(function(value){ %>
                                                <tr>
                                                    <td>
                                                        <%= value.id %>
                                                    </td>
                                                    <td>
                                                        <p class="mt-4 card-text"><%= value.cumulPercentage %>%/<%= value.percentageTotal %></p>
                                                        <p class="mt-4 card-text"><%= value.forfaits.commissionTotal %>%/<%= value.forfaits.numberDayTotalVersement %> Jrs</p>
                                                        
                                                    </td>
                                                    <td>
                                                        <% if ( value.etatid === 1 ) { %>
                                                        <span class="badge badge-warning" >Contrat en Attente</span>
                                                            <% }  else if (value.etatid === 3) { %>
                                                                        <span class="badge badge-success">Contrat en cours</span>
                                                                <% }  else { %>
                                                                    <span class="badge badge-success">Contrat en terminé</span>
                                                                    <% } %>

                                                    </td>

                                                    <td>
                                                        <script>
                                                            formatDate("<%= value.create_at %>")
                                                        </script>
                                                    </td>
                                                    <td>
                                                        <script>
                                                            formatDateToPay("<%= value.last_date_payement %>")
                                                        </script>
                                                    </td>
                                                </tr>
                                                <% }); %>


                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>

                    </div

                    <div class="col-md-12 grid-margin">


                        <div class="card">
                            <div class="card-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <% infos.filleul.forEach(function(value){ %>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="d-flex flex-row">
                                                            <img src="https://flagsapi.com/<%= value.alpha2code %>/flat/64.png" class="flag-rofil" alt="profile" />
                                                            <div class="ml-3">
                                                                <h6>
                                                                    <%= value.country %>
                                                                </h6>
                                                                <p class="text-muted">
                                                                    <%= value.email %><br>
                                                                        <%= value.prefix %>
                                                                            <%= value.numberClient %>
                                                                </p>
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <!-- content-wrapper ends -->
    </div>
    </div>
    <%- include('partials/_footer'); %>
        <script>
            (function($) {
                'use strict';
                $(function() {
                    $('table').addClass('nowrap').DataTable({
                        responsive: true,
                        buttons: [
                            'copy', 'excel', 'pdf'
                        ],
                    });
                    $('body').on('click', '.videCompte', function(e) {
                        e.preventDefault();
                        const id = parseInt($(this).attr('data-ref'), 10);
                        const ref = $("#ref").val().trim();
                        const idtraitement = parseInt($("#idtraitement").val(), 10);
                        const amount = $("#valueForCrypto").val();
                        const focus = $(this);
                        focus.hide()

                        const url = '/users/videCompte',
                            type = 'post';
                        $.ajax({
                            url,
                            type,
                            data: {
                                id,
                                ref,
                                idtraitement,
                                amount
                            },
                            success: function(datas) {
                                if (datas.etat) {
                                    $.notify({
                                        position: 3,
                                        type: 'success',
                                        duration: 4000,
                                        message: datas.result
                                    });

                                } else {
                                    focus.show()
                                    $.notify({
                                        position: 3,
                                        type: 'error',
                                        duration: 4000,
                                        message: datas.error
                                    });
                                }
                            }
                        });
                    });
                    if ($('#vertical-left').length) {
                        $('#vertical-left').pwstabs({
                            effect: 'slideleft',
                            defaultTab: 1,
                            containerWidth: '600px',
                            tabsPosition: 'vertical',
                            verticalPosition: 'left'
                        });
                    }

                });
            })(jQuery);
        </script>
        </body>

        </html>